$gri: #F7F7FF;
$primary: #7075F6;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: $gri;
}
a{
    color: black;
    text-decoration: none;
}

.sidebar-kucuk{
    width: 120px !important;
    display: flex;
    flex-direction: column;
    transition: .2s;
    nav a span{
        display: none;
    }

    nav ul{
        .active{
            background-color: transparent !important;
        }
    }

    nav ul li{
        margin-left: 0 !important;
    }

    ul{    align-items: center;
        display: flex;
        flex-direction: column;
    }

    .side-dropdown{
        display: none;
    }

    .arrow{
        display: none;
    }

    .logo{
        width: 89px;
        img{
            width: 100%;
        }
    }
}

.sidebar{
    transition: .2s;
    position: fixed;
    background-color: $gri;
    width: 231px;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    height: 100vh;

    a.logo{
        color: $primary;
        font-weight: bold;
        font-size: 2rem;
        display: block;
        text-align: center;
    }

    nav{
        margin-top: 50px;
        ul{
            margin: 0;
            padding: 0;

            li.active{
                background-color: white;
                height: 41px;
                display: flex;
                align-items: center;
            }

            li{
              transition: .2s;
               // display: flex;
                align-items: center;
               list-style: none;
               margin-left: auto;
               padding: 0.3rem;
               border-radius: 8px 0px 0px 8px;
               margin-bottom: 1rem;

               .side-dropdown{
                   background-color: white;
                   overflow: hidden;
                   max-height: 0;
                   transition: .2s;
                   ul{
                       margin: 0;
                       padding: 0;
                       padding-left: 28px;
                       li{
                           margin-bottom: 2px;
                           a{
                               font-size: 12px;

                               &:hover{
                                   color: $primary;
                               }
                           }
                       }
                   }
               }

                a{
                    width: 100%;
                    display: flex;
                    color: #888C9F;
                    align-items: center;
                    font-weight: 500;
                    font-size: 16px;
                    &:hover{
                        color: $primary;
                    }
                    .arrow{
                        margin-left: auto;
                        img{
                            width: 16px;
                            height: 8px;
                        }
                    }
                }
                img{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.header{
background-color: $gri;
height: 84px;
padding-left: 1rem;
display: flex;
align-items: center;

img.ara{
    width: 26px;
    height: 26px;
    margin-left: 1rem;
}

.burger{
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    transition: .2s;
    .line{
        transition: .2s;
        height: 4px;
        background-color: #888C9F;

        &:nth-child(2){
            width: 75%;
        }

        &:nth-child(1){
            width: 100%;
        }

        &:nth-child(3){
            width: 50%;
        }
    }
}
}

.page{
    padding-left:231px ;
}

.header-sag{
    display: flex;
    align-items: center;
    .bildirim{
        margin-right: 1rem;
        img{
            width: 22px;
        }
    }

    .kucuk-profil{
        margin-right: 1rem;
        display: flex;
        color:  #888C9F;
        align-items: center;

        .down-icon{
            height: 18px;
            width: 18px;
            margin-left: 1.4rem;

            img{
                width: 100%;
                height: 100%;
            }
        }
        
        img{
            margin-right: 5px;
            border-radius: 8px;
            width: 36px;
            height: 36px;
        }

        &__title{
            font-weight: 500;
           
        }

        &__bottom{
            line-height: 12px;
        }

        
    }
}

.h-266{
    height: 266px;
}

.mini-container{
    box-shadow: 2px 10px 30px #D1D9E6A8;
border-radius: 12px;
background-color: white;
padding: 1rem;
display: flex;
flex-wrap: wrap;
height: 266px;
}

.sayfa{
    background-color: white;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-top: 1rem;
    transition: .2s;
    border-top-left-radius: 14px;
    padding-bottom: 1rem;
}

.mini-title{
    font-weight: bold;
    font-size: 16px;
}

.qa{
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 1rem;

    &__title{
        color: #888C9F;
    }
    &__status{
        
    }
    img{
        width: 62px;
        height: 62px;
    }

    .react-switch{
        margin-left: 1rem;
    }
}

.semi-bar{
   
    position: relative;
    &__option{
        position: absolute;
        text-align: center;
        left: 50%;
        width: 100%;
        transform: translate(-50%,50%);
        .bottom{
            color: #888C9F;
            font-size: 12px;
            line-height: 3px;
        }
        .title{
            font-weight: bold;
        }

        &:nth-child(2){
            top: 10px;
            .title{
                color: #7075F6
            }
           
        }

        &:nth-child(3){
            top: 50px;
        }
    }
}

.circu-bar{
    width: 57px;
    height: 68px;
position: relative;
top: 25%;
transform: translate(0%, -25%);


&__option{
    position: absolute;
    left: 70px;
    width: 130px;
    top: 40%;
    transform: translate(0%,-50%);

    .option-table{
        font-size: 12px;
        font-weight: bold;
        &:nth-child(1){
            color:#0BB783;
            margin-bottom: 0.5rem;
            span{
                color: black;
            }
        }

        &:nth-child(2){
color: #F64E60;
span{
    color: #0BB783;
}
        }
    }
}
}

.CircularProgressbar-text{
    font-weight: bold;
}

.ba{
   width: 50%;
    display: flex;
    align-items: center;

    img{
        width: 44px;
        height: 44px;
    }

    &__bottom{
        font-size: 12px;
    }
    &__title{
        color: #44444A;
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
    }
}

.height-44{
    height: 44px;
}

.fs-12{
    font-size: 16px !important;
}
.outline-button-primary{
    color: #7075F6 !important;
    border-color: #7075F6 !important;

    &:hover{
        background-color: #7075F6 !important;
        color: white !important;
    }
}
.pro-sari{
    background-color: #FFA80033;
    .cubuk{
        background-color: #FFA800;
    }
}
.outline-button{
    border: 1px solid #3B3C41;
    border-radius: 8px;
    font-size: 12px;
    color: #44444A;
    padding: 0.4rem;
    text-align: center;
    transition: .2s;
    display: flex;
    align-items: center;
user-select: none !important;
font-weight: 500;
    &:hover{
        background-color: #3b3c41;
        color: white;
        cursor: pointer;
    }
}

.pro-yesil{
    background-color: #1BC5BD33;
    .cubuk{
        background-color: #1BC5BD;
    }
}

.motion-container{
    display: flex;
    overflow-x: auto;
}

.motion-car{
    display: flex;
    margin-right: 1rem;
    width: 317px;
    min-width: 317px;
    box-shadow: inset -2px -1px 20px #D1D9E665;
    padding-bottom: 0.5rem;
    border-radius: 12px;

    .sag{
        width: 60%;
        padding: 0.4rem 0.5rem;
        .progress-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title{
                color: #888C9F;

            }

            .progress2{
                width: 100px;
                height: 6px;
                border-radius: 3px;
                
                .cubuk{
                 
                    width: 30%;
                    z-index: 100;
    height: 6px;                    border-radius: 3px;

                }
            }
        }
    }

    .sol{
        width: 40%;

        .car-info{
            padding-left: 0.4rem;

            color: #888C9F;
            font-size: 16px;
            .model{
                font-size: 12px;
            }

            .since{
                color: #0BB783;
                font-size: 12px;
                font-weight: 500;
            }
        }

        .motion-car__slider{
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 100px;
            border-radius: 12px;
            border: 0.1px solid #707070;
            position: relative;

            .slider{
                display: flex;
                flex-direction: column;
            position: absolute;
            right: 5px;
            top: 5px;

                .slide{
                    width: 8px;
                    height: 8px;
                    background: #D5D5D5;
                    border-radius: 50%;
                    margin-bottom: 0.2rem;
                    cursor: pointer;
                }

                .active{
                    border: 0.5px solid #707070;
                    background:transparent;
                }
            }
        }
    }
}

.datatable-td{
    padding:0.6rem;
    color: #44444A;
    font-size: 13px;
    
}

tr{
    margin-bottom: 0.5rem;
}

.add-car-button{
    transition: .2s;
    cursor: pointer;
    &:hover{
        transform: translate(0px,-2px);
    }
}
.table-header-border{
    background-color: #888c9f ;
    opacity: 0.4;
    width: 50%;
    height: 0.5px;
    margin: 0.3rem 0;

}
.table-header-buttons{
    display: flex;
    align-items: center;
 

    .active{
        font-weight: 600;
        color: #7075F6;
    }
    button{
        background: transparent;
        border: none;
        outline: none;
        color: #888C9F;
        font-weight: 500;
        border-radius: 4px;
        user-select: none !important;
        transition: .2s;
        font-size: 16px;
        &:hover{
            background:#888c9f34 ;
            color: #555;
        }
    }
}

.row-status-running{
    background-color: #1BC5BD33;
    color: #1BC5BD;
}
.row-status{
    font-weight: 500;
    border-radius: 6px;
    padding: 0.4rem 0.6rem;
}
.datatable-th{
    color: #7075F6;
    font-size: 12px;
    padding: 0.4rem;
}
.row-search{
    font-size: 12px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 5px 10px #888C9F1A;
border-radius: 4px;
box-sizing: border-box;
height: 28px;
padding: 0.2rem 0.4rem;


img{
    width: 12px;
    height: 12px;
}

    
    input{
        background-color: transparent;
        border: none;
        outline: none;
        overflow:hidden;
    }
}

.tb-container{
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
   
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    }
    ::-webkit-scrollbar-thumb{
    background: #7075F6;
    border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: #5459E8;
    }
      ::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    }

.edit-button{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url("../svg/Icons/edit.svg");
    background-size: 100% 100%;
    cursor: pointer;

    &:hover{
        opacity: 0.9;
    }

}
.refresh-button{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url("../svg/refresh-bos.svg");
    background-size: 100% 100%;

    &:hover{
        cursor: pointer;
        background-image: url("../svg/Icons/refresh-all.svg");

    }
}



/* Vehicle Details */

.vehicle-details-header{
    display: flex;
    align-items: center;
}

.br-12{
    border-radius: 12px;
}

.vd{
    background-color: #F7F7FF58;
    padding-right: 0.5rem;
    display: flex;
    
    
}

.vehicle-details{
    width:50%;
    height: 266px;
    position: relative;
    .vd-fiyat{
        color: white;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .vd-status{
        position: absolute;
        background-color: #42BE64;
        color: white;
        font-size: 12px;
        z-index: 1000;
        bottom: 10px;
        left: 10px;
        padding: 0.3rem 0.6rem;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .vd-top{
        height: 64px;
        border-radius: 12px 12px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding-left: 1rem;
        background: rgba(#848484,0.55);
        position: relative;
        z-index: 1000;
        color: white;

        .slider{
            display: flex;
            flex-direction: row;
        position: absolute;
        right: 8px;
        top: 8px;

            .slide{
                width: 8px;
                height: 8px;
                background: white;
                opacity: 0.36;
                border-radius: 50%;
                margin-right: 0.2rem;
                cursor: pointer;
            }

            .active{
                border: none;
                background:white !important;
                opacity: 1 !important;
            }
        }

        .marka{
            
            font-weight: 600;
        }
        .model{
            font-weight: 500;
        }
    }
}

.data-progress{
    .title{
        color: #888C9F;
        font-size: 12px;
    }
}

.data-with-title{
    font-size: 12px;
    .data{
        color: #44444A;
        
        font-weight: 700;
    }

    .title{
        font-weight: 500;
        color: #888C9F;
    }

}

.data-title-container{
    padding: 0.5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 40px 40px 40px;
}
.data-probar-yesil{
    background-color: #1BC5BD33;
    .cubuk{
        background-color: #1BC5BD;
    }
}

.data-probar-sari{
    background-color: #FFA80033;
    .cubuk{
        background-color: #FFA800;
    }
}


.data-probar{
    width: 100%;
    border-radius: 3px;
    height: 6px;
    .cubuk{
        height: 6px;
        border-radius: 3px;

    }
}

.data-progress-container{
    padding: 0.5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 26px 26px 26px;
    flex-wrap: wrap;
}

.vm-button{
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: white;
    border: 1px solid #0BBEA5;
    border-radius: 7px;
    color: #0BBEA5;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    user-select: none !important;
    padding: 0.3rem 0.5rem;
    transition: .2s;
    &:hover{
        background-color: #0BBEA5;
        color:white

    }

}

.vm{
    position: relative;
    .mini-title{
        position: absolute;
        top: -25px;
    }
    img{
        border-radius: 12px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.r-a{
    box-shadow: 0px 10px 30px #D1D9E640;
    background-color: white;
    border-radius: 12px;
    padding: 0.4rem;

 

    &__caption{
        color:#888C9F;
        font-size: 12px;
        font-weight: 500;
    }
}

.vd-list{
    box-shadow: 0px 10px 30px #D1D9E640;
    background-color: white;
    border-radius: 12px;
    padding: 0.4rem;
 
  
}
.c-title{
    color:#44444A;
    font-weight: bold;
    font-size: 16px;
}
.time-cubuk{
    background: #6C6C6C ;
border-radius: 10px;
width: 3px;
height: 58px;
margin-left: 2.8rem;
opacity: 0.23;
}
.timelist{
    margin-top: 1rem;
    padding: 0 1rem;
    padding-bottom: 1rem;
}
.time{
    display: flex;
    align-items: center;
    .saat{
        color: #888C9F;
        font-size: 12px;
        font-weight: 700;
    }

    .yuvarlak{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 0 8px;

    }

    .yuvarlak-koyu{
        border: 3px solid #663259;
    }

    .yuvarlak-yesil{
        border: 3px solid #1BC5BD;
    }

    .yuvarlak-red{
        border: 3px solid #F64E60;
    }

    .yuvarlak-mavi{
        border: 3px solid #3799FC;
    }

    .durum{
        font-weight: 500;
        color:#888C9F;
        font-size: 16px;
    }
}

.c-a{
    box-shadow: 0px 10px 30px #D1D9E640;
    background-color: white;
    border-radius: 12px;
    padding: 0.4rem;
   
    

    .c-a-bottom{
        background-color: #F7F7FF;
        border-radius: 12px;
        li{
            margin-bottom: 0.5rem;
        }
        
    }

    .durum{
      
        text-align: center;
        margin: 0 auto;
        border-radius: 6px;
        font-size: 9px;
        font-weight: 600;
        padding: 0.3rem 0.4rem;
    }

    .durum-yesil{
        background-color: #1BC5BD33;
        color: #0BBEA5;
    }

    .durum-gri{
        background-color: #64646433;
        color: #4A4A4A;
    }

 
}
.c-list{
    margin: 0;
    padding: 0;

    li{
        font-size: 12px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(#D8D8D8,0.18);
        align-items: center;
        .title{
            font-weight:500 ;
            color: #888C9F;
        }
        .data{
            font-weight: 600;
        }
    }
}